<%- include ('./partials/navbar') %>

<style>
    .hidden-form-element {
        visibility: hidden;
        display: none
    }

    .spinner-border {
        position: fixed;
        top: 0;
        left: 0;
        margin-left: 47%;
        margin-top: 40vh;
    }
</style>

<div class="spinner-border" role="status" id="spinner">
    <span class="visually-hidden">Loading...</span>
</div>

<div class="container my-5 hidden-form" id="content">

    <h1 class="pb-4">Skapa tävling</h1>

    <% if (template) { %>

    <!-- <form action="/admin/createRaceObject" method="POST">
        <div class="mb-3">
            <label for="name" class="form-label">Tävlingens namn</label>
            <input type="name" name="name" class="form-control" value="<%= raceTemplate.name %>">
            <div class="form-text">Klubbens namn, t.ex. Trälhavets Båtklubb</div>
        </div>

        <div class="mb-2">
            <label for="club" class="form-label">Klubb</label>
            <select name="club" class="form-select" aria-label="Default select example">
                <option value="<%= raceTemplate.club %>"><%= raceTemplate.club %></option>
                <% for (var i = 0; i < clubs.length;  i++ ) { %>
                <% if(clubs[i].name != raceTemplate.club) {%>
                <option value="<%= clubs[i].name %>"><%= clubs[i].name %></option>
                <%}%>
                <% } %>
            </select>
        </div>

        <div class="mb-2">
            <label for="serie" class="form-label">Klubb</label>
            <select name="serie" class="form-select" aria-label="Default select example">
                <option value="<%= raceTemplate.club %>"><%= raceTemplate.club %></option>
                <% for (var i = 0; i < clubs.length;  i++ ) { %>
                <% if(clubs[i].name != raceTemplate.club) {%>
                <option value="<%= clubs[i].name %>"><%= clubs[i].name %></option>
                <%}%>
                <% } %>
            </select>
        </div>

        <div class="mb-3">
            <label for="name" class="form-label">Startdatum</label>
            <input type="date" name="startdate" class="form-control"
                value="<%= (raceTemplate.startDate.getFullYear() + '-' + (raceTemplate.startDate.getMonth()+1) + '-' + raceTemplate.startDate.getDate()).toString()  %>">
            <div class="form-text"></div>
        </div>

        <div class="mb-3">
            <label for="name" class="form-label">Slutdatum</label>
            <input type="date" name="enddate" class="form-control"
                value="<%= (raceTemplate.endDate.getFullYear() + '-' + (raceTemplate.endDate.getMonth()+1) + '-' + raceTemplate.endDate.getDate()).toString()  %>">
            <div class="form-text"></div>
        </div>

        <div class="mb-2">
            <label for="name" class="form-label">Organisatör</label>
            <select name="name" class="form-select" aria-label="Default select example">
                <option value="<%= raceTemplate.org %>"><%= raceTemplate.org %></option>
                <% if(user.name != raceTemplate.org) {%>
                <option value="<%= user.name %>"><%= user.name %></option>
                <%}%>
                <% for (var i = 0; i < orgs.length;  i++ ) { %>
                <% if(orgs[i].name != raceTemplate.club) {%>
                <option value="<%= orgs[i].name %>"><%= orgs[i].name %></option>
                <%}%>
                <% } %>
            </select>
        </div>

        <div class="mb-3">
            <label for="name" class="form-label">Tävlingens namn</label>
            <input type="name" name="name" class="form-control" value="<%= raceTemplate.name %>">
            <div class="form-text">Klubbens namn, t.ex. Trälhavets Båtklubb</div>
        </div>

    </form> -->

    <% } else { %>

    <form class="pb-5">
        <div class="hidden-form-element form-step mb-3 step1" id="step1">
            <label for="name" class="form-label">Tävlingens namn</label>
            <input type="name" name="name" class="form-control" value="" required>
            <div class="form-text">Klubbens namn, t.ex. Trälhavets Båtklubb</div>
        </div>

        <div class="hidden-form-element form-step mb-2 step1" id="step2">
            <label for="club" class="form-label">Klubb</label>
            <select name="club" class="form-select" aria-label="Default select example" required>
                <option value=""></option>
                <% for (var i = 0; i < clubs.length;  i++ ) { %>
                <option value="<%= clubs[i].name %>"><%= clubs[i].name %></option>
                <% } %>
            </select>
        </div>

        <div class="hidden-form-element form-step mb-2 step1" id="step2">
            <label for="serie" class="form-label">Serie</label>
            <select name="serie" class="form-select" aria-label="Default select example" required>
                <option value=""></option>
                <% for (var i = 0; i < series.length;  i++ ) { %>
                <option value="<%= series[i].name %>"><%= series[i].name %></option>
                <% } %>
            </select>
        </div>


        <div class="hidden-form-element form-step mb-3 step2" id="step3">
            <label for="startdate" class="form-label">Startdatum</label>
            <input type="date" name="startdate" class="form-control" value="" required>
            <div class="form-text"></div>
        </div>

        <div class="hidden-form-element form-step mb-3 step2" id="step4">
            <label for="enddate" class="form-label">Slutdatum</label>
            <input type="date" name="enddate" class="form-control" value="" required>
            <div class="form-text"></div>
        </div>

        <div class="hidden-form-element form-step mb-2 step3" id="step5">
            <label for="org" class="form-label">Organisatör</label>
            <select name="org" class="form-select" aria-label="Default select example" required>
                <option value="<%= user.name %>"><%= user.name %></option>
                <% for (var i = 0; i < orgs.length;  i++ ) { %>
                <% if(orgs[i].name != user.name) {%>
                <option value="<%= orgs[i].name %>"><%= orgs[i].name %></option>
                <%}%>
                    <% } %>
            </select>
        </div>

        <div class="hidden-form-element form-step mb-3 step3">
            <label for="tel" class="form-label">Telefon</label>
            <input type="tel" name="tel" class="form-control" value="">
            <div class="form-text">T.ex. +46 72 505 06 12</div>
        </div>

        <div class="hidden-form-element form-step mb-3 step3">
            <label for="email" class="form-label">Epost</label>
            <input type="email" name="email" class="form-control">
            <div class="form-text">T.ex. förnamn.efternamn@gmail.com</div>
        </div>

        <div class="hidden-form-element form-step mb-3 step3">
            <label for="pdf" class="form-label">PDF</label>
            <input name="pdf" class="form-control" type="file" id="pdf" multiple>
            <div class="form-text">PDF fil med information</div>
        </div>

        <div class="hidden-form-element form-step mb-3 step3">
            <label for="images" class="form-label">Bild</label>
            <input name="images" class="form-control" type="file" id="images" multiple>
            <div class="form-text">Relevant bild</div>
        </div>

        <div class="hidden-form-element form-step mb-3 step1">
            <label for="description" class="form-label">Beskrivning</label>
            <textarea class="form-control" name="description" rows="3"></textarea required>
        </div>

        <div class="hidden-form-element form-step form-check step4 mb-4" >
            <input class="form-check-input" type="checkbox" value="" id="check1" name="check1">
            <label class="form-check-label" for="check1">
                Rapportera båt framför - tid
            </label>
        </div>

        <div class="hidden-form-element form-step form-check step4 mb-4" >
            <input class="form-check-input" type="checkbox" value="" id="check2" name="check2">
            <label class="form-check-label" for="check2">
                Rapportera båt framför - segelnr.
            </label>
        </div>

        <div class="hidden-form-element form-step form-check step4 mb-4" >
            <input class="form-check-input" type="checkbox" value="" id="check3" name="check3">
            <label class="form-check-label" for="check3">
                Rapportera båt bakom - tid
            </label>
        </div>

        <div class="hidden-form-element form-step form-check step4 mb-4" >
            <input class="form-check-input" type="checkbox" value="" id="check4" name="check4">
            <label class="form-check-label" for="check4">
                Rapportera båt bakom - segelnr.
            </label>
        </div>

        <div class="hidden-form-element form-step form-check step4 mb-4" >
            <input class="form-check-input" type="checkbox" value="" id="check5" name="check5">
            <label class="form-check-label" for="check5">
                Rapportera punkt
            </label>
        </div>

        <div class="hidden-form-element form-step form-check step4 mb-4">
            <input class="form-check-input" type="checkbox" checked="true" value="checked" id="check6" name="check6">
            <label class="form-check-label" for="check6">
                Krav på registrering
            </label>
        </div>
        
        <div class="hidden-form-element form-step mb-3 step4" id="regOpen-element">
            <label for="regOpen" class="form-label">Registrering öppnar</label>
            <input type="date" name="regOpen" class="form-control">
        </div>

        <div class="hidden-form-element form-step mb-3 step4" id="regClose-element">
            <label for="regClose" class="form-label">Registrering stänger</label>
            <input type="date" name="regClose" class="form-control">
        </div>

        <div class="hidden-form-element form-step mb-2 pb-2 step1" >
            <label for="handicap" class="form-label">Handikappsystem</label>
            <select name="handicap" class="form-select" aria-label="Default select example">
                <option value="" selected="selected"></option>
                <% for (var i = 0; i < handicaps.length;  i++ ) { %>
                <option value="<%= handicaps[i].name %>"><%= handicaps[i].name %></option>
                <%}%>
            </select>
        </div>

        <div class="hidden-form-element form-step mb-3 step5">
            <label for="partraces" class="form-label">Delseglingar</label>
            <input type="number" name="partraces" class="form-control" placeholder="1" id="partraces">
            <div class="form-text">Antal delseglingar totalt</div>
            
            <div class="my-4">
                <button class="btn btn-success" type="button" onclick="createPartRaces(this.form.partraces.value)">Skapa delseglingar</button>
            </div>
            <div id="partraces-div" class="my-4"> 

            </div>
        </div>
        
        <div class="hidden-form-element form-step mb-3 step6" id="groups"></div>

        <div class="hidden-form-element form-step mb-3 step6">
            <button type="button" class="btn btn-success" id="submit-button" onclick="createRaceObject(this.form)">Lägg till</button>
        </div>
    </form>

    

    <% } %>

    <nav style="position: fixed; bottom: 20px;" aria-label="...">
        <ul class="pagination">
          <li id="previous-button" class="page-item disabled">
            <a class="page-link" style="cursor: pointer;" onclick="previousStep()" tabindex="-1" aria-disabled="true">Previous</a>
          </li>

          <li id="next-button" class="page-item">
            <a class="page-link" style="cursor: pointer;" onclick="nextStep()">Next</a>
          </li>
        </ul>
    </nav>

</div>

<script>
let activeStep = 1
let totalSteps = 6

// var reg = 0;

window.onload = function() {
    var spinner = document.getElementById('spinner')
    spinner.style.display = 'none'

    var content = document.getElementById('content')
    content.classList.remove('hidden-form-element')

    var step1 = document.getElementsByClassName('step1')
    for (let item of step1) {
        item.classList.remove('hidden-form-element')
    }
};

// function setStepHighlight(step) {
//     Array.from(document.getElementsByClassName('page-item')).forEach(element => {
//         element.classList.remove('active')
//     });
//     document.getElementById('step' + step + '-button').classList.add('active')
// }

function goToStep(step) {
    if(step < 1 || step > totalSteps) return

    Array.from(document.getElementsByClassName('form-step')).forEach(element => {
        element.classList.add('hidden-form-element')
    });
    Array.from(document.getElementsByClassName('step' + step)).forEach(element => {
        element.classList.remove('hidden-form-element')
    });

    activeStep = step

    if (activeStep == 1) {
        document.getElementById('previous-button').classList.add('disabled')
    } else if (activeStep == totalSteps) {
        document.getElementById('next-button').classList.add('disabled')
    } else {
        document.getElementById('previous-button').classList.remove('disabled')
        document.getElementById('next-button').classList.remove('disabled')
    }
}

function previousStep() {
    if(activeStep != 1) {
        goToStep(activeStep - 1)
    }
}

function nextStep() {
    if(activeStep != totalSteps) {
        goToStep(activeStep + 1)
    }
}

function createPartRaces(num) {
    if (num < 10 && num >= 0) {
        var parent = document.getElementById('partraces-div')
        parent.innerHTML = ""

        for (let index = 1; index <= num; index++) {
            childElement = document.createElement('div');
            childElement.classList.add('partrace')
            appendChildElement = parent.appendChild(childElement)
            appendChildElement.innerHTML = "<h3>Delsegling "+index+"</h3><div class='mb-3'><label for='partrace"+index+"'  class='form-label'>Namn</label><input id='partrace"+index+"' type='text' name='partrace"+index+"' class='form-control' value=''><div class='form-text'>Namn på delseglingen</div></div><div class='mb-3'><label for='racegroup"+index+"' class='form-label'>Grupper</label><input type='text' racegroup"+index+" name='racegroup"+index+"' class='form-control' value='' id='racegroup"+index+"' placeholder='grupp1,grupp2'><div class='form-text'>Separerade med komma, t.ex. grupp1,grupp2</div></div>"
        }
    }
}

function createRaceObject(form) {
    if (!form.email.value || !form.tel.value || !form.org.value || !form.handicap.value || !form.name.value || !form.startdate.value || !form.enddate.value || !form.club.value || !form.club.value || !form.description.value) {
        alert("Du missade någonting. Var vänlig gå tillbaka och fyll i alla fält.")
    } else {
        var partRacesArray = []

        var numOfPartRaces = document.getElementById('partraces').value
        
        for (let index = 1; index <= numOfPartRaces; index++) {
            var partRaceName = document.getElementById('partrace' + index).value
            var groups = document.getElementById('racegroup' + index).value
            var groups = groups.split(",");

            for (i = 0; i < groups.length; i++) {
                groups[i] = trimString(groups[i])
            }

            var partRace = {name: partRaceName, groups: groups}

            partRacesArray.push(partRace)
        }

        var Race = new FormData()

        Array.from(form.pdf.files).forEach(file => {
            console.log(file)
            Race.append('pdf', file)
        })

        Array.from(form.images.files).forEach(file => {
            console.log(file)
            Race.append('images', file)
        })
        
        Race.append('name', form.name.value)
        Race.append('club', form.club.value)
        Race.append('description', form.description.value)
        Race.append('handicap', form.handicap.value)
        Race.append('startDate', form.startdate.value)
        Race.append('endDate', form.enddate.value)
        Race.append('org', form.org.value)
        Race.append('tel', form.tel.value)
        Race.append('email', form.email.value)
        Race.append('check1', form.check1.value)
        Race.append('check2', form.check2.value)
        Race.append('check3', form.check3.value)
        Race.append('check4', form.check4.value)
        Race.append('check5', form.check5.value)
        Race.append('check6', form.check6.value)
        Race.append('regOpen', form.regOpen.value)
        Race.append('regClose', form.regClose.value)
        Race.append('partRaces', partRacesArray)
        Race.append('serie', form.serie.value)

        console.log(Race)

        axios.post('/admin/add/race', Race, {
            headers: {
              'Content-Type': 'multipart/form-data'
            }
        }).then(response => { 
            // window.location.href = "/admin";
            console.log(response)
        }).catch(error => console.error(error));
    }
}

function trimString (str) {
    return str.replace(/^\s\s*/, '').replace(/\s\s*$/, '');
}

</script>