<%- include ('./partials/navbar') %>

<style>
    .card-grid {
        display: grid !important;
        grid-template-columns: auto 1fr;
    }

    #card-item-1>img {
        width: 100px;
        height: 100px;
        object-fit: cover;
    }

    #card-item-1 {
        display: grid;
        margin-left: 22px;
        margin-top: 22px;
        margin-right: 0.5rem;
        width: 100px;
        height: 100px;
        grid-column: span 1;
    }

    #card-item-2 {
        grid-column: span 1;
    }

    @media only screen and (max-width: 575px) {
        .card-grid {
            display: grid !important;
            grid-template-columns: 1fr;
            grid-template-rows: auto 1fr;
        }

        #card-item-1>img {
            width: 100%;
            height: 200px;
            object-fit: cover;
        }

        #card-item-1 {
            display: grid;
            margin-left: 15px;
            margin-top: 15px;
            padding-right: 30px;
            margin-right: 0.5rem;
            width: 100%;
            height: 200px;
            grid-column: span 1;
        }
    }
</style>

<div class="container">
    <div class="pt-5">
        <h1 class="title">
            Hem
        </h1>
        <hr>
    </div>
    <% if(races.length == 0) { %>
    <div>
        <h4>Hmm, här va det tomt...</h4>
        <p>Här kan du se framtida tävlingar samt registrera dig!</p>
    </div>
    <% } else { %>
    <% for (var i = 0; i < races.length;  i++ ) { %>
    <% if(i == 0) { %>
    <h2 class="subtitle">
        Nästa tävling!
    </h2>
    <% } else if (i == 1) { %>
    <h2 class="subtitle">
        Framtida tävlingar!
    </h2>
    <% } %>
    <div class="my-5">
        <div class="card shadow bg-white rounded border-0">
            <div class="card-grid">
                <div id="card-item-1">
                    <% if (races[i].images.length > 0) { %>
                    <img src="/static/uploads/races/<%= races[i].name %>/images/<%= races[i].images[0] %>" alt="...">
                    <% } else { %>
                    <img src="/static/img/logo.png %>" alt="...">
                    <% } %>
                </div>
                <div class="card-body card-item-2">
                    <h5 class="card-title"><%= races[i].name %></h5>
                    <p style="color: darkgray;">Start:
                        <%= races[i].startDate.getFullYear() + "-" + (races[i].startDate.getMonth()+1) + "-" + races[i].startDate.getDate() %>
                    </p>
                    <p style="color: darkgray;">Klubb: <a href="/"><%= races[i].club %></a></p>
                    <p class="card-text"><%= races[i].description %></p>
                    <p style="color: darkgray;">Kontakt: <a href="/">Fredrik Burmester</a></p>
                    <a href="/race/<%= races[i]._id %>">Visa mer</a>
                </div>
                
            </div>
        </div>
    </div>
    <% } %>
    <% }%>
</div>