<%- include ('./partials/navbar') %>

<div class="container my-2">
    <form>
        <div class="row">
            <div class="col">
                <label for="year" class="form-label">År</label>
                <select name="year" class="form-select">
                    <option selected value="all">Alla</option>
                    <option value="2020">2020</option>
                    <option value="2021">2021</option>
                </select>
            </div>
            <div class="col">
                <label for="club" class="form-label">Klubb</label>
                <select name="club" class="form-select">
                    <option selected value="all">Alla</option>
                    <% for (var i = 0; i < clubs.length;  i++ ) { %>
                    <option value="<%= clubs[i]._id %>"><%= clubs[i].shortName %></option>
                    <% } %>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label for="serie" class="form-label">Serie</label>
                <select name="serie" class="form-select">
                    <option selected value="all">Alla</option>
                    <% for (var i = 0; i < series.length;  i++ ) { %>
                    <option value="<%= series[i]._id %>"><%= series[i].name %></option>
                    <% } %>
                </select>
            </div>
            <div class="col">
                
            </div>
        </div>
        <button type="button" class="btn btn-primary my-4"
            onclick="getRaces(this.form.year.value, this.form.club.value, this.form.serie.value)">Hämta tävlingar</button>
    </form>

    <div id="table">
        <div class="spinner-border hidden" role="status" id="spinner">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div id="error">

        </div>
        <div id="cards">

        </div>
    </div>
</div>

<style>
    .spinner-border {
        width: 30px;
        height: 30px;
        margin-left: auto;
        margin-right: auto;
    }
    .hidden {
        display:none;
    }
    td {
        white-space: nowrap;
        height: 200px
    }
</style>

<script>
    async function getRaces(year = 'all', club = 'all', serie = 'all') {
        document.getElementById('spinner').classList.remove('hidden')
        
        const response = await axios.get(`/json/races/${year}/${club}/${serie}`)
        data = response.data.object

        if(data.length > 0) {
            document.getElementById('spinner').classList.add('hidden')
            document.getElementById('error').innerText = ""
            document.getElementById('cards').innerHTML = ""

            for (let i = 0; i < data.length; i = i + 1) {
                createRaceCard(data[i])
            }
        } else {
            document.getElementById('cards').innerHTML = ""
            document.getElementById('error').innerText = "Inga matchande tävlingar!"
            document.getElementById('spinner').classList.add('hidden')
        }
    }

    function createRaceCard(race) {
        var cards = document.getElementById('cards')

        var card = document.createElement('div')
        card.classList.add('card')
        card.classList.add('mb-4')
        card.classList.add('shadow')
        card.classList.add('border-0')


        var cardBody = document.createElement('div')
        cardBody.classList.add('card-body')
        
        var cardTitle = document.createElement('h5')
        cardTitle.classList.add('card-title')
        cardTitle.innerHTML = `${race.name} - ${race.club}`
        
        var cardSubtitle = document.createElement('h6')
        cardSubtitle.classList.add('card-subtitle')
        cardSubtitle.classList.add('mb-2')
        cardSubtitle.classList.add('text-muted')
        cardSubtitle.innerHTML = `<em>${race.startDate.split("T")[0]}</em>`
        
        var cardText = document.createElement('p')
        cardText.classList.add('card-text')
        cardText.innerText = race.description
        
        var cardButton = document.createElement('button')
        cardButton.innerHTML = "Registrera"
        cardButton.classList.add('btn')
        cardButton.classList.add('btn-success')
        cardButton.classList.add('cardButton')

        card.appendChild(cardBody)
        cardBody.appendChild(cardTitle)
        cardBody.appendChild(cardSubtitle)
        cardBody.appendChild(cardText)
        cardBody.appendChild(cardButton)

        cards.appendChild(card)
    }
</script>

<style>
    .card {
        width: 100% !important;
    }
    .cardButton {
        /* position: absolute !important;
        top: 36.5% !important;
        right: 20px !important; */
    }
</style>