<%- include ('./partials/navbar') %>

<div id="slider"></div>

<div class="container">
    <form class="mt-4" id="filterForm">
        <div class="form-group row">
            <div class="col">
                <label>År</label>
                <select id="formyear" name="year" class="form-control selectpicker">
                    <option value="">Alla</option>
                    <option value="2020">2020</option>
                    <option selected value="2021">2021</option>
                </select>
            </div>
            <div class="col">
                <label>Klubb</label>
                <select id="formclub" name="club" class="form-control selectpicker">
                    <option value="">Alla</option>
                    <% for (var i = 0; i < clubs.length;  i++ ) { %>
                    <% if (user) { %>
                    <% if (clubs[i].name == user.club[0]) { %>
                    <option selected value="<%= clubs[i].name %>"><%= clubs[i].shortName %></option>
                    <% i++ %>
                    <% } %>
                    <% } %>
                    <option value="<%= clubs[i].name %>"><%= clubs[i].shortName %></option>
                    <% } %>
                </select>
            </div>
        </div>

        <div class="form-group row">
            <div class="col">
                <label>Serie</label>
                <select id="formserie" name="serie" class="form-control selectpicker">
                    <option selected value="">Alla</option>
                    <% for (var i = 0; i < series.length;  i++ ) { %>
                    <option value="<%= series[i].name %>"><%= series[i].name %></option>
                    <% } %>
                </select>
            </div>
            <div class="col">

                <label>Sortera efter</label>
                <select name="sort" id="sort" class="form-control selectpicker">
                    <option value="name">Namn</option>
                    <option selected value="date-new">Datum (nyast först)</option>
                    <option value="date-old">Datum (älst först)</option>
                    <option value="club">Klubb</option>
                    <option value="serie">Serie</option>
                </select>
            </div>
        </div>
        <button type="button" class="btn btn-primary my-4" onclick="loadResultsRaces()">Hämta
            tävlingar</button>
        <button type="button" class="btn btn-primary my-4"
            onclick="sortRaces(sort.value); printResultCards()">Sortera</button>
    </form>

    <div class="mt-4 mb-4" style="cursor: pointer;">
        <a id="showFilterButton" style="color: gray;" class="hidden"
            onclick="filterForm.classList.remove('hidden'); showFilterButton.classList.add('hidden')">Visa filter</a>
    </div>


    <div id="error">

    </div>
    <div id="cards">

    </div>
</div>

<script>
    (async function () {
        await getUserData().then(response => {
            unHide()
            if (USER !== null) {
                loadResultsRaces()
            } else {
                loadResultsRaces()
            }
        })
    })();

    var bar = new ProgressBar.Line(slider, {
        strokeWidth: 10,
        easing: 'easeInOut',
        duration: 1500,
        color: '#FFEA82',
        trailColor: '#fff',
        trailWidth: 0,
        svgStyle: {
            width: '100%',
            height: '100%'
        }
    });

    var registered = '<%- JSON.stringify(registered) %>'
    var available = '<%- JSON.stringify(available) %>'
    var sailed = '<%- JSON.stringify(sailed) %>'
</script>