<%- include ('./partials/navbar') %>

<div class="profile container">
    <div id="about">
        <img class="rounded-circle shadow mt-4" src="/static/img/logo.png" alt="" width="100px" height="100px">
        <h3 class="mt-4"><%= user.name %></h3>
        <h5 class="mb-5" style="color:gray"><%= user.club %></h5>
        <div id="info" class="mb-4">
            <h4>Info</h4>
            <p>Epost: <%= user.email %></p>
            <p id="tel"></p>
            <p>Kontot skapat:
                <%= user.date.getFullYear() + "/" + (user.date.getMonth()+1) + "/" + user.date.getDate() %>
            </p>
            <div class="my-5" id="boats">
                <h4>Båtar</h4>
                <div id="cards" class="cards mt-4">

                </div>
            </div>
            <div id="addboat">
                <div class="my-5" id="add-boat">
                    <h2>Lägg till båt</h2>
                    <p>Sök efter mätbrev:</p>
                    <form class="mb-4 form">
                        <div class="form-group">
                            <label class="mb-2" for="ref">Mätbrev</label><br>
                            <select id="select-1" class="selectpicker dropdown form-control" data-container="body"
                                name="ref" data-live-search="true" data-dropup-auto="false">
                                <% for (var i = 0; i < boats.length;  i++ ) { %>
                                <option data-subtext="<%= boats[i].ÄgareNamn %>" data-tokens="<%= boats[i].Ref %>"
                                    value="<%= boats[i].Ref %>"><%= boats[i].Ref %></option>
                                <% } %>
                            </select><br>
                            <button type="button" class="btn btn-primary my-4" onclick="addBoat(this.form)">Lägg till
                                från mätbrev</button>
                        </div>
                    </form>
                    <hr>
                    <p><em>Har du inte ett mätbrev än? Lägg till båten manuellt:</em></p>
                    <form clsss="mb-4" action="" method="">
                        <label class="mb-2" for="name">Båtnamn</label><br>
                        <input type="text" class="form-control mb-2" id="name">

                        <label class="mb-2" for="type">Båttyp</label><br>
                        <select class="selectpicker" name="ref" data-live-search="true">
                            <% for (var i = 0; i < stdBoats.length;  i++ ) { %>
                            <option data-tokens="<%= stdBoats[i].Båttyp %>" value="<%= stdBoats[i].Båttyp %>">
                                <%= stdBoats[i].Båttyp %></option>
                            <% } %>
                        </select><br>
                        <button type="button" class="btn btn-primary my-4" onclick="addNewBoat(this.form)" disabled>Lägg
                            till utan mätbrev</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <a href="/users/logout" class="btn btn-danger">Logga ut</a>
</div>

<div class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Ta bort?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Är du säker på att du vill ta bort båten?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Nej</button>
                <button type="button" id="removeBoatButton" class="btn btn-danger">Ja</button>
            </div>
        </div>
    </div>
</div>

<script>

    var boats = []
    var allUsers = [];

    (async function() {
        await getUserData().then(response => {
            tel.innerHTML = "Telefon: " + USER.tel
            unHide()
        })

        await getUsers({}).then(response => {
            allUsers = response
        })

        await updateBoats().then(response => {
            updateBoatCards()
        })
        
    })();


</script>